// 変数のcode

/*
** color
*/

/*
** font-family
/*
**background-color
*/

/*
** box-shadow
*/

/*
** text-shadow
*/

/*
** コンテンツ・ページ幅
*/

/*
** フォントファミリー
*/
$font-family: HiraKakuProN-W3;
$font-family-bold: HiraKakuProN-W6;
$font-family-en: Andale Mono;
