@use "../global" as *;

.pageMap {
  padding-top: 3vh;
  color: $color-gray;
  max-width: $content-width;
  @include marginx-auto;
  a {
    color: $color-orange;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    display: inline-block;
    padding-right: 1vw;
  }
}
