@use "../global" as *;

.wp-block-search__input,
.wp-block-search__button {
  background-color: $color-white;
  max-width: 80%;
  border-radius: 10px;
  border: 2px solid $color-orange;
  &:hover {
    opacity: 0.7;
  }
}
